extends layout 
 
block content 
  h1= title 
 
  form(id='VanForm', action="/resource/vans", method="POST") 
    div.form-group 
        label.costumeAttr(for='VanType') Van type 
        input#costume_type(type='text', name='VanType') 
    div.form-group 
        label.costumeAttr(for='vanPrice') Van Price 
        input#size(type='number', name='vanPrice') 
    div.form-group 
        label.costumeAttr(for='vanColor') Van color 
        input#cost(type='text', name='vanColor') 
    input(type="submit") 
 
  script. 
    document.forms['VanForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'POST', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Save succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Save failed " + error ) 
      }); 
    });