extends layout 
 
block content 
  h1= title 
 
  - let vanid = toShow._id 
  - let van_type = toShow.vanType
  - let vancost = toShow.vanPrice 
  - let vancolour = toShow.vanColor 
  
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{vanid} 
  - let actionid = "/resource/vans/" + vanid 
  form(id='VanForm', action= actionid, method="PUT") 
    div.form-group 
        label.vanAttr(for='vanType') Van type 
        input#vanType(type='text', name='vanType', value= vanType ) 
    div.form-group 
        label.vanAttr(for='vanPrice') Van Price 
        input#vanPrice(type='number', name='vanPrice', value= vanPrice ) 
    div.form-group 
        label.vanAttr(for='vanColor') Van color 
        input#vanColor(type='text', name='vanColor', value= vanColor ) 
    input(type="submit") 
 
  script. 
    document.forms['VanForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    }); 